/****** tool tips override ***/
body .tip {
  background: #0078FF url(../../../media/com_dnagifts/images/gradient.png) repeat-x 0 -100px;
  border: 1px solid #B4B4B4;
  color: white;
}
body .tip-text{
  overflow: hidden;
  text-indent: -7px;
}
