div#dnaTestSpace {
  position: relative;
  height: 250px;
}

div#dnaTopBar {
  position: relative;
  width: 100%;
  height: 26px;
}

div#dnaCountdown, div#dnaMessages {
  float: left;
  width: 180px;
  padding-left: 10px;
}
div#Messages {
  padding-top: 5px;
}

div#dnaInteractions{
  float: left;
  width: 170px;
  padding-top: 5px;
  margin-left: 100px;
}

div#dnaProgress {
  float: right;
  width: 300px;
  text-align: right;
  padding-top: 5px;
  margin-right: 10px;
}

div#dnaTestBody {
  position: relative;
  height: 150px;
}

div#dnaLoadingDiv,
div#dnaPauseDiv,
div#dnaQuestionText {
  position: absolute;
  top: 0px;
  left: 0px;
}

div#dnaQuestionText {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  font-family: fantasy;
  font-size: 18pt;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

div#dnaButtonsBar {
  height: 33px;
  text-align: center;
}
div#dnaButtonsBar a {
  text-decoration: none;
}

div.dnaAnswerButton {
  font-family: fantasy;
  font-size: 16pt;
}

div#dnaTestSpace a:hover {
  background-color: transparent;
}

div#dnaTestSpace table,
div#dnaTestSpace tbody,
div#dnaTestSpace tr,
div#dnaTestSpace td {
  border: 0px !important;
}

.ui-progressbar .ui-progressbar-value { background-image: url(../../../media/com_dnagifts/images/pbar-ani.gif); }
#progressbar {
  width: 80%;
  height: 20px;
  margin-left: 70px;
  margin-top: 25px;
}

#progresspercent {
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 43%;
  margin-right: 0;
  margin-top: 3px;
  position: absolute;
  width: 180px;
  font-size: 10pt;
}

div#startmessage {
  text-align: center;
  font-size: 16pt;
}

a.btnAnswer,
div#postTestHome,
div#backButton{
  display: block;
  width: 110px;
  height: 34px;
  background-image: url(../../../media/com_dnagifts/images/button-bg.png);
  margin-top: 20px;
  /*text-indent: -3000px;*/
}

div#postTestHome:hover,
div#backButton:hover{
  background: transparent url(../../../media/com_dnagifts/images/button-bg.png) 0px -34px;
}

a.btnAnswer {
  height: 29px;
}

div#postTestHome a,
div#backButton a{
  display: block;
  height: 100%;
  text-decoration: none;
  color: white !important;
  text-align: center;
  padding-top: 2px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

.ict-postcontent h2{
  margin-top: 2px;
}

div#postTestHome a:link,
div#postTestHome a:visited,
div#postTestHome a:hover,
div#postTestHome a:active
div#postTestHome a:focus,
div#backButton a:link,
div#backButton a:visited,
div#backButton a:hover,
div#backButton a:active
div#backButton a:focus{
  background-color: transparent;
}

a.btnAnswer,
div#postTestHome a h2,
div#backButton a h2{
  color: white;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  margin-top: 4px;
  font-size: 14pt;
}

div#dnaTestSpace div.dnaAnswerButton a.btnAnswer:link,
div#dnaTestSpace div.dnaAnswerButton a.btnAnswer:visited,
div#dnaTestSpace div.dnaAnswerButton a.btnAnswer:active
div#dnaTestSpace div.dnaAnswerButton a.btnAnswer:focus{
  color: white;
  padding-top: 5px;
  background-image: url(../../../media/com_dnagifts/images/button-bg.png);
  background-position: 0px 0px;
  background-color: transparent;
}

div#dnaTestSpace div.dnaAnswerButton a.btnAnswer:hover {
  color: white;
  padding-top: 5px;
  background: transparent url(../../../media/com_dnagifts/images/button-bg.png) 0px -34px;
}

a.playbutton {
  display: block;
  margin: 0 45%;
}

div#simplemodal-container{
  font-family: arial,helvetica,sans-serif;
}

div#dnaTestSpace input,
div#dnaTestSpace select,
div#dnaTestSpace textarea {
  font-weight: normal;
}

div#btl div#module-in-profile div.module > div {
  display: none;
}

/****** tool tips override ***/
/*
.tip-wrap{
background: #FFF;
border: 1px solid #000;
padding: 5px;
color:#000000;
max-width: 412px;}

.tip {
float: left;
background: #FFF;
border: 1px solid #000;
padding: 5px;
color:#000000;
width: 400px;
}

.tip-title {
padding: 0;
margin: 0;
font-weight: bold;
margin-top: -15px;
padding-top: 15px;
padding-bottom: 5px;
color:#000000;}
*/