/* DNA Gifts - Reports page */
div#dnaReportSpace h2 {
  color: #00386D;
  text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.7);
}

table#pickreporttable thead {
    background-color: lightslategrey;
    text-shadow: 1px 1px 1px linen;
}

table#pickreporttable th, table#pickreporttable td {
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

div#postTestHome a h2 {
  color: white;
  text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.7);
  font-size: 14pt;
  margin: 0;
}

div#postTestHome a h2:hover {
  text-shadow: 0px 0px 2px white;
}

div#postTestHome {
	margin-top: 10px;
}