body {
	padding-top: 20px;
	background-position: 0 top;
	background-image: url(../img/dnaPageBackground.png);
}

#dnaPageLogo > img{
	max-width: 80%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 20px;
}

#dnaKnowThyself > img{
	width: 100%;
	max-width: 850px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav > li {
	width: 14.28571428571429%;
}

.nav > li > a {
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 1em;
	text-shadow: 0px 0px 6px black;
	height: 100%;
	min-width: 66px;
	padding-left: 0;
	padding-right: 0;
}

#homenav {background-color: #ff0000;}
#booknav{background-color: #ff9c00;}
#buynav{background-color: #fff001;}
#testnav{background-color: #5af85e;}
#giftsnav{background-color: #0668fb;}
#eventsnav{background-color: #8303b9;}
#seminarnav{background-color: #be06b3;}

.nav  li  a:hover {
	background-color: #EEEEEE !important;
	color: black !important;
}

@media (max-width: 550px) {
	.nav > li > a {
		font-size: 0.8em;
		min-width: 50px;
		height: 28px;
		overflow: hidden;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.nav > li > a {
		font-size: 0.8em;
	}
}

#myCarousel{
	margin: 20px auto;
	width: 85%;
	max-width: 850px;
}
#leftArrow {
	left: -55px;
}
#rightArrow {
	right: -55px;
}
ol.carousel-indicators {
	top: 103%;
}

@media (max-width: 767px) {
	ol.carousel-indicators {
		padding-right: 20%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	ol.carousel-indicators {
		padding-right: 20%;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	ol.carousel-indicators {
		padding-right: 25%;
	}
}
@media (min-width: 1200px) {
	ol.carousel-indicators {
		padding-right: 30%;
	}
}
ol.carousel-indicators li {
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
	border-radius: 10px 10px 10px 10px;
	border: 1px solid #ffffff;
}
.active.perceiverDot {background-color: #ff0000;}
.active.servantDot {background-color: #ff9c00;}
.active.teacherDot {background-color: #fff001;}
.active.exhorterDot {background-color: #5af85e;}
.active.giverDot {background-color: #0668fb;}
.active.rulerDot {background-color: #8303b9;}
.active.mercyDot {background-color: #be06b3;}

#carouselMask,
#dnaHeptagons0,
#dnaHeptagons1,
#dnaHeptagons2,
#dnaHeptagons3,
#dnaHeptagons4,
#dnaHeptagons5,
#dnaHeptagons6,
#dnaHeptagons7 {
	position: absolute;
	top: 0;
	width: 100%;
}

#dnaHeptagons0 { display: block; }
#dnaHeptagons1 { display: block; }
#dnaHeptagons2 { display: none; }
#dnaHeptagons3 { display: none; }
#dnaHeptagons4 { display: none; }
#dnaHeptagons5 { display: none; }
#dnaHeptagons6 { display: none; }
#dnaHeptagons7 { display: none; }

.tooltip-inner {
  color: #000000;
  background-color: #ffffff;
  font-weight: bold;
}
.tooltip.top .tooltip-arrow  {
	border-top-color: #ffffff;
}