body {
	padding-top: 20px;
	background-position: 0 top;
	background-image: url(../img/dnaPageBackground.png);
}

#dnaPageLogo > img{
	max-width: 80%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 20px;
}

#dnaKnowThyself > img{
	width: 100%;
	max-width: 850px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav > li {
	width: 14.28571428571429%;
}

.nav > li > a {
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 1em;
	text-shadow: 0px 0px 6px black;
	height: 100%;
	min-width: 66px;
	padding-left: 0;
	padding-right: 0;
}

#homenav {background-color: #ff0000;}
#booknav{background-color: #ff9c00;}
#buynav{background-color: #fff001;}
#testnav{background-color: #5af85e;}
#giftsnav{background-color: #0668fb;}
#eventsnav{background-color: #8303b9;}
#seminarnav{background-color: #be06b3;}

.nav  li  a:hover {
	background-color: #EEEEEE !important;
	color: black !important;
}

@media screen and (max-width: 550px) {
	.nav > li > a {
		font-size: 0.8em;
		min-width: 50px;
		height: 28px;
		overflow: hidden;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.nav > li > a {
		font-size: 0.8em;
	}
}

#myCarousel{
	margin: 20px auto;
	width: 85%;
	max-width: 850px;
}
#leftArrow {
	left: -55px;
}
#rightArrow {
	right: -55px;
}

.carousel-indicators-container {
	display: block;
	height: 22px;
	width: 361px;
	position: relative;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

ol.carousel-indicators {
	display: block;
	top: 0;
	left: 20px;
}

/*
@media screen and (max-width: 767px) {
	ol.carousel-indicators {
		padding-right: 20%;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	ol.carousel-indicators {
		padding-right: 20%;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	ol.carousel-indicators {
		padding-right: 25%;
	}
}
@media screen and (min-width: 1200px) {
	ol.carousel-indicators {
		padding-right: 30%;
	}
}
*/
ol.carousel-indicators li {
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
	border-radius: 10px 10px 10px 10px;
	border: 1px solid #ffffff;
}

ol.carousel-indicators li.perceiverDot { background-color: rgba(255,0,0,0.25); }
ol.carousel-indicators li.servantDot { background-color: rgba(255,156,0,0.25); }
ol.carousel-indicators li.teacherDot { background-color: rgba(255,240,1,0.25); }
ol.carousel-indicators li.exhorterDot { background-color: rgba(90,248,94,0.25); }
ol.carousel-indicators li.giverDot { background-color: rgba(6,104,251,0.25); }
ol.carousel-indicators li.rulerDot { background-color: rgba(131,3,185,0.25); }
ol.carousel-indicators li.mercyDot { background-color: rgba(190,66,179,0.25); }

ol.carousel-indicators li.active.perceiverDot { background-color: rgba(255,0,0,1); }
ol.carousel-indicators li.active.servantDot { background-color: rgba(255,156,0,1); }
ol.carousel-indicators li.active.teacherDot { background-color: rgba(255,240,1,1); }
ol.carousel-indicators li.active.exhorterDot { background-color: rgba(90,248,94,1); }
ol.carousel-indicators li.active.giverDot { background-color: rgba(6,104,251,1); }
ol.carousel-indicators li.active.rulerDot { background-color: rgba(131,3,185,1); }
ol.carousel-indicators li.active.mercyDot { background-color: rgba(190,66,179,1); }

#carouselMask,
#dnaHeptagons0,
#dnaHeptagons1,
#dnaHeptagons2,
#dnaHeptagons3,
#dnaHeptagons4,
#dnaHeptagons5,
#dnaHeptagons6,
#dnaHeptagons7 {
	position: absolute;
	top: 0;
	width: 100%;
}

#dnaHeptagons0 { display: block; }
#dnaHeptagons1 { display: block; }
#dnaHeptagons2 { display: none; }
#dnaHeptagons3 { display: none; }
#dnaHeptagons4 { display: none; }
#dnaHeptagons5 { display: none; }
#dnaHeptagons6 { display: none; }
#dnaHeptagons7 { display: none; }

.tooltip-inner {
  color: #000000;
  background-color: #ffffff;
  font-weight: bold;
}
.tooltip.top .tooltip-arrow  {
	border-top-color: #ffffff;
}

#dnaCallToActionContainer{
	width: 100%;
	text-align: center;
	color: white;
}
.dnaCallToAction a,
.dnaCallToActionSub a {
	color: #ffffff;
	text-decoration: none;
}
.dnaCallToAction a:hover,
.dnaCallToActionSub a:hover  {
	color: #0088CC
}
.dnaCallToActionSub {
	font-style: italic;
}

#dnaDoTheTest, 
#dnaDivider,
#dnaPurchaseBook {
	display: inline-block;
}
#dnaDoTheTest, 
#dnaPurchaseBook {
	padding-top: 5px;
}
#dnaDivider {
	text-align: center;
	padding: 0 25px 0 25px;
	font-size: 3.5em;
	vertical-align: 5px;
}

/* screen wider than 1126px (incl) *//* FF actual: 1240 (14 diff) */
@media screen and (min-width: 1226px) { 
	.dnaCallToAction {
		font-size: 2em;
	}
	.dnaCallToActionSub {
		font-size: 1.07em;
	}
}

/* screen width between 1094px (incl) and 1225px (incl) *//* FF actual 1108 & 1239 (14 diff) */
@media screen and (min-width: 1094px) and (max-width: 1225px) { 
	.dnaCallToAction {
		font-size: 1.8em;
	}
	.dnaCallToActionSub {
		font-size: 0.96em;
	}
}

/* screen width between 982px (incl) and 1093px (incl) *//* FF actual 994 & 1107 (14 diff) */
@media screen and (min-width: 980px) and (max-width: 1093px) {
	.dnaCallToAction {
		font-size: 1.6em;
	}
	.dnaCallToActionSub {
		font-size: 0.84em;
	}
}

/* screen width between 868px (incl) and 979px (incl) *//* FF actual 882 & 993 (14 diff) */
@media screen and (min-width: 868px) and (max-width: 979px) {
	.dnaCallToAction {
		font-size: 1.4em;
	}
	.dnaCallToActionSub {
		font-size: 0.8em;
	}
}
/* screen narrower than 867px (incl) *//* FF actual 881 (14 diff) */
@media screen and (max-width: 867px) {
	.dnaCallToAction {
		font-size: 1.2em;
	}
	.dnaCallToActionSub {
		display: none;
	}
	#dnaDivider {
		font-size: 2em;
		vertical-align: 0;
	}
}
#dnaZigZag{
	margin-top: 30px;
	height: 40px;
	background: url(../img/ZigZag.png) repeat-x 50% 0;
}

footer {
	background-color: #1dabf0;
	padding-bottom: 20px;
}
#dnaFooterLinks p {
	color: #ffffff;
	font-weight: bold;
	padding-left: 5px;
}